<% content_for :header_tags do %>
  <style type="text/css">
    td.x {
      border-left: 1px solid #E7E7E7;
      text-align: center;
    }
    table.list {
      margin-bottom: 2em;
    }
  </style>
<%end %>

<h2> <%= l(:project_module_traceability) %> </h2>

<% unless flash[:error] %>
  <table class='list'>
    <thead>
      <tr>
        <td></td>
        <th colspan="<%= @tracker_cols_issues.length %>"><%= @tracker_cols.name %></th>
      </tr>
      <tr>
        <th><%= @tracker_rows.name %></th>
        <% @tracker_cols_issues.each do |issue| %>
          <th title="<%= issue %>">
            <%= link_to "##{issue.id}", {:controller => "issues", :action => "show", :id => issue} %>
          </th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @tracker_rows_issues.each do |issue| %>
        <tr class="<%= cycle("odd", "even") %>">
          <td title="<%= issue %>">
            <%= link_to "##{issue.id}", {:controller => "issues", :action => "show", :id => issue} %>
          </td>
          <% @tracker_cols_issues.each do |cp| %>
            <td class="x">
              <% if @issue_pairs.has_key? issue and @issue_pairs[issue].has_key? cp %>
                X
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <table class='list'>
    <thead>
      <th width="50%"><%= @tracker_rows.name %></th>
      <th width="50%"><%= @tracker_cols.name %></th>
    </thead>

    <tbody>
      <% @tracker_rows_issues.each do |issue| %>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= link_to_issue issue %>
            <%= textilizable issue.description %>
          </td>
          <td>
            <% unless @issue_pairs[issue].nil? %>
              <% @issue_pairs[issue].keys.sort.each do |other_issue| %>
                <p><%= link_to_issue other_issue %></p>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
      <% unless @tracker_cols_not_seen_issues.empty? %>
        <td></td>
        <td>
          <% @tracker_cols_not_seen_issues.each do |issue| %>
            <p><%= link_to_issue issue %></p>
          <% end %>
        </td>
      <% end %>
    </tbody>
  </table>
<% end %>
