<% content_for :header_tags do %>
  <style type="text/css">
    td.x {
      border-left: 1px solid #E7E7E7;
      text-align: center;
    }
    table.list {
      margin-bottom: 2em;
    }
  </style>
<%end %>

<h2> <%= l(:project_module_traceability) %> </h2>

<% unless flash[:error] %>
  <table class='list'>
    <thead>
      <tr>
        <td></td>
        <th colspan="<%= @issue_cols.length %>"><%= @tracker_cols.name %></th>
      </tr>
      <tr>
        <th><%= @tracker_rows.name %></th>
        <% @issue_cols.each do |issue_col| %>
          <th title="<%= issue_col %>">
            <%= link_to "##{issue_col.id}", {:controller => "issues", :action => "show", :id => issue_col} %>
          </th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @issue_rows.each do |issue_row| %>
        <tr class="<%= cycle("odd", "even") %>">
          <td title="<%= issue_row %>">
            <%= link_to "##{issue_row.id}", {:controller => "issues", :action => "show", :id => issue_row} %>
          </td>
          <% @issue_cols.each do |issue_col| %>
            <td class="x">
              <% if @issue_pairs.has_key? issue_row and @issue_pairs[issue_row].has_key? issue_col %>
                X
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <table class='list'>
    <thead>
      <th width="50%"><%= @tracker_rows.name %></th>
      <th width="50%"><%= @tracker_cols.name %></th>
    </thead>

    <tbody>
      <% @issue_rows.each do |issue_row| %>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= link_to_issue issue_row %>
            <%= textilizable issue_row.description %>
          </td>
          <td>
            <% unless @issue_pairs[issue_row].nil? %>
              <% @issue_pairs[issue_row].keys.sort.each do |issue_col| %>
                <p><%= link_to_issue issue_col %></p>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
      <% unless @not_seen_issue_cols.empty? %>
        <tr class="<%= cycle("odd", "even") %>">
          <td></td>
          <td>
            <% @not_seen_issue_cols.each do |issue_col| %>
              <p><%= link_to_issue issue_col %></p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
